.backgroundImage {
    background-image: url("../../assets/homepage/bg-homeee.jpeg");
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 80px;
}
.backgroundImage_writeup {
    display: flex;
    flex-direction: row;
  text-align: justify;
    
    padding-top: 50px;
    padding-left: 100px;
}
.background_arrange {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    /* flex-direction: row; */
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;




}

.background_color {
    height: 700px;
    background-color: rgb(253, 253, 253);
    width: 100%;
    

}

.image-background {
    height: 500px;
    width: 800px;

}

.div-text {

    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: start;
    justify-self: start;
    flex-direction: column;
}
.text-bg{
    background-color: white;
    width: 320px;
    height: 450px;
}
.bg1-fontstyle1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: justify;
    color: #3D52A0;

}

.bg1-fontstyle2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    line-height: 50px;
    font-weight:300;
    color: black;

}

.bg-fontstyle1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: #3D52A0;

}

.bg-fontstyle2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

}

.bg-fontstyle3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #3D52A0;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border-style: hidden;
    align-items: center;
    color: white;

}

.bg-fontstyle3:hover {
    background-color:  #7091e6;
}

/* .bg-2 {
    background-color: rgb(246, 249, 254);
    height: 700px;
    width: 100%;
    
} */
.div-text2 {

    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: start;
    justify-self: start;
    flex-direction: column;
padding-top: 60px;}


.what-we-do {
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.underline {
    width: 50px;
    height: 5px;
    background-color: #3D52A0;
    display: flex;
    align-self: center;
    margin-bottom: 40px;
}

.bg-what-we-do {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

.department1-text {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;



}

.department1-image {
    width: 340px;
    height: 260px;
    object-fit: cover;
}

.department1-text1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 100px;
}

.department1-text2 {
    color: rgb(135, 135, 135);
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;


}

.bg-3 {
    background-color: white;
    height: 700px;
    width: 100%;
}

.get-started-img {
    height: 500px;
    width: 600px;
    margin-top: 200px;
}

.bg-4 {
    background-color: white;
    height: 600px;
    width: 600px;
    /* display: flex;
    justify-self:last baseline;
    justify-content: baseline; */
    opacity: 0.8;
    margin-left: -150px;
}

.bg-4-display {
    display: flex;
    flex-direction: row;

}

.div-text2 {
    align-items: center;
    display: flex;
    /* justify-content: center; */
    justify-self: center;
    flex-direction: column;
    margin-top: 50px;
}

.number-circle {
    background-color: #3D52A0;
    border-radius: 50%;
    padding: 23px;
    /* height: 30px;
    width: 60px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    text-align: center;
    margin-right: 15px;
    font-weight: bold;
}

.div-text-3 {

    margin-left: 25px;
}

.bg-5 {
    background-color: rgb(248, 250, 254);
    width: 100%;
    height: 600px;
    margin-top: 100px;
    padding-top: 20px;
}
.bg-5-image{
    width: 150px;
    height: 140px;
    margin-top: 5px;
    border-radius: 50%;
    align-self: center;
}
.star-icon{
color: #3D52A0 ;
font-size: 18px;
}
.bg-5-child {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}